body {
    background-color: #393E46;
}
@font-face {
    font-family: lobster;
    src: url("https://fonts.googleapis.com/css?family=Indie+Flower|Lobster");
}

.container {
    width: 70%;
    text-align: center;
    margin: auto;
}

.container h1{
    margin: 30px;
    color: #4ECCA3;
    font-family: lobster , cursive;
    font-size: 8rem;
}

.dice {
   text-align: center;
    display: inline-block;
}
.dice p {

    color: #4ECCA3;
    font-family: lobster , cursive;
    font-size: 2rem;
}
.dice img {
    width: 80%;
}